.info-item {
    background-color: orangered;
}

.movie-poster {
    background-color: aliceblue;
}

.movie-options {
    background-color: green;
}

.short-movie-data .data-label {
    padding: 10px;
    margin: 3px;
    background: orange;
}

.tag-list .data-label {
    padding: 10px;
    margin: 3px;
    background: yellowgreen;
}

.intro-section {
    background-color: pink;
}

.sinopsis-section {
    background-color: violet;
}

.extras-section {
    background-color: purple;
}
